.Post_size_s {
  grid-column: span 6;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      't'
      'd'
      's';
}

.Post_size_s:not(.Post_noImage) {
  grid-template-areas:
    't'
    'i'
    'i';
}

.Post_size_s:not(.Post_noImage) .Post-Social {
  grid-area: i;
  position: absolute;
  flex-direction: column;
  bottom: 16px;
  right: 16px;
  height: 120px;
}

.Post_size_s:not(.Post_noImage) .Post-Social svg {
  fill: #ffffff;
}

.Post_size_s.Post_noImage {
    display: block;
}

.Post_size_s.Post_noImage .Post-Image {
    display: none;
}

.Post_size_s.Post_noImage .Post-Actions {
    margin-right: 24px;
}

.Post_size_s.Post_noImage .Post-Author {
    display: block;
}

.Post_size_s.Post_noImage .Sost-Title {
    max-height: none;
}

.Post_size_s.Post_noImage .Post-Footer {
    grid-area: s;
}

.Post_size_s.Post_noImage .Post-Social {
    width: 100%;

    svg {
      fill: #d3d3d3;
    }
}

.Post_size_s .Post_noImage

.Post_size_s .Post-Title {
  grid-area: t;
  position: relative;
  margin: 0 0 8px;
  max-height: 46px;
}

.Post_size_s .Post-Image {
  grid-area: i;
}

.Post_size_s .Post-Description {
  grid-area: d;
  margin-bottom: 24px;
}
